<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img height="50px" src="IMG/logo.png">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="#">About Us</a>
            <a class="navbar-brand" href="/register.html">Register</a>
            <a class="navbar-brand" href="#">How It Works</a>
        </div>
        <div class ="nav navbar-nav navbar-right">
            <a class="navbar-brand" href="login.html">LOGIN</a>
            </divL
        </div>
</nav>